language: node_js

node_js:
  - "node"

cache:
  directories:
    - $HOME/.npm

after_success:
  - wget https://raw.githubusercontent.com/k3rn31p4nic/travis-ci-discord-webhook/master/send.sh
  - chmod +x send.sh
  - ./send.sh success $WEBHOOK_URL_WIGGLYTUFF
  - ./send.sh success $WEBHOOK_URL_IMMO
after_failure:
  - wget https://raw.githubusercontent.com/k3rn31p4nic/travis-ci-discord-webhook/master/send.sh
  - chmod +x send.sh
  - ./send.sh failure $WEBHOOK_URL_WIGGLYTUFF
  - ./send.sh failure $WEBHOOK_URL_IMMO
